@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 230, 230, 230;
  --background-start-rgb: 10, 15, 30; /* Dark Navy */
  --background-end-rgb: 5, 8, 15;
  --ramadan-gold: #cd9a46;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}
